* {
margin: 0;
padding: 0;
font-size: 100%;
border-style: none;
list-style-type: none;
box-sizing: border-box;
}

:root {
    --rust: #7b2e0f;
    --yellow: #ffa200;
    --blue: #0156a3;
    --green: #024a12;
    --lightgeen:#5eb245;
    --neutral: #E9EBED;
}

body {
font-family: helvetica, calibri, sans-serif;
background-color: var(--neutral);
color:var(--rust);
}

#wrapper {
max-width: 768px;
margin: 0px auto;
padding: 0px;
background-color: white;
}
/* style topper with flex  */
#topper{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding:  0 20px;
    height: min-content;
    background-color: lightyellow;;
}

.social-media-icons{
    display: none;
}

header img{
    width: 100%; 
    max-width: 120px;
    height:auto;
}

#responsive-menu  .menu {   /* responsive MENU */
    max-height: 0;
    overflow: hidden;
    float: none;
    width: 100%;
    transition: max-height 0.5s;
}
    
#responsive-menu  .menu.menu-open {   /* responsive MENU */
    max-height: 1000px;
    transition: max-height 0.5s;
}
    
#responsive-menu  .menu-icon {   /* responsive MENU */
    display: inline-block;
    margin-top: 4px;
    }
    
nav {
    max-width: 700px;
    margin: 2px auto 0px auto;
    font-size: 17px;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    line-height: 1.5em;
}

nav a {
    color: var(--blue);
    text-decoration: none;
}

#current {
    font-weight: 900;
}

nav a:hover{
    color: gray;
}

    /* style hero image section  */
    
#hero-image{
    background-color: var(--green);
    background-image: url(images/hero-image-700.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
   
}

.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 20px;
   
}

#hero-image h1 {
    display: none;
}
    
button{ 
    margin-top: 30%;
    font-size: 5vw;
    cursor: pointer;
    text-align: center;
    background-color: rgba(16, 76, 229, 0.4);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
/* end hero image  */
/* style row-1  */
p img{
    width: 100%;
    max-width: 128px;
    height:auto;
}

.row-1 h1{
    color:white;
    background-color: var(--green);
    padding-bottom: 10px;
    text-align:center;
}
.active{
    display:flex;
    flex-direction: column;
    color: var(--green)
}
.un-active{
    display:none;
}
.figures.flex-row{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 12px;;
}
    
/* style row-2 */
.row-2{
    font: 12px;
    padding: 20px 40px;
    background: linear-gradient(to top, #ffffff 97%, var(--yellow) 100%);
}
.row-2 h2{
    color: var(--lightgeen);
    font-size: 6vw;
    text-align:center;
    margin: 12px 0px 20px;
    
}
.row-2 li,
.row-5 li{
    list-style-type: disc;
    font-size: 12px;
    margin-bottom: 12px;
}
 /* END row 2 */
 /* STYLE row -3; row-4 */
 .row-3,
 .row-4{
    padding: 30px;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    line-height: 2em;
 }
 .row-4{
    background-color: var(--neutral);
 }
 .row-3{
    background-color: white;
 }
 .row-3 h1,
 .row-4 h1,
 .row-5 h1{
    color: var(--lightgeen);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1em;
    line-height: 1.8;
 }

.row-3 img,
.row-4 img{
    margin-top: 20px;
    width: 100%;
    max-width: 360px;
    height: auto;
    max-height: 250px;
}
.row-3 h5,
.row-4 h5{
    margin-top: 1em;
    margin-bottom:1em;
    font-size: 16px;
}
/* style row-5 projects  */
.row-5.projects{
    background-color: #5EB245;
    padding: 20px 20px;
}
.row-5 li{
    font-size: 13px;
    font-weight: 900;
    color: white;
}
.row-5 h1{
    color: white;
    font-size: 24px;
    
}
.row-5 button{
    background-color: #004e36;
    margin-top: 0;
}
.row-6{
    padding: 20px;
    
}
.row-6 p{
    line-height: 1.5em;
    font-size: 12px;
}
.row-6.contact {
    background-color: white;
    color: #004e36;
}
.row-6 h1:first-child{
    color: #5eB245;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}

.row-6 h1{
    font-size: 18px;
}
.row-6 button{
    background-color: #5eb245;
    margin: 0 auto;
}

.row-7 {
    background-color: var(--lightgeen);
    padding: 30px 10px;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 40px;
}

/* Style inputs */
input[type=text],[type=email], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }
  
  /* Style the submit button */
input[type=submit] {
    width: 100%;
    background-color: #004E36;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
}
input[type=submit]:hover {
    background-color: #45a049;
  }
/* FINISH styling main  */
footer {
    background-color: #024A12;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    font-size: 13px;
    padding: 10px 0px 18px 0px;
    color: white;
}
    
footer ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
    
 #socials {
    max-width: 110px;
    margin: auto;
    margin-top: 14px;
}
    
    
#utilities {
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

#social img{
    width: 100%;
    max-width: 30px;
    height:auto;
}
    
    
footer a {
color: white;
text-decoration: none;
}

footer a:hover {
text-decoration: underline;
}
   
    /* responsive google map */
    .map-responsive{
        overflow:hidden;
        padding-bottom:49.25%;
        position:relative;
        height:0;
    }
    
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    /* /* screen sizes >769px   */
    
    @media only screen and (min-width: 769px) {
    body{
        background-color: #c7d2d8;
    }

    #wrapper{
    padding:0px;
    width: 100%;
    max-width: 2000px;
    }

    #responsive-menu  .menu-icon {      /* responsive MENU */
    display: none;
    width: 100%;
    }    

    #responsive-menu  .menu {   /* responsive MENU */
    max-height: 1000px;
    }

    #topper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .social-media-icons {
        display: flex;
      
    }
    #responsive-menu .menu{
        flex-grow: 2;
    }
   
    #topper ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
    .menu ul{
        gap: 50px;
        flex-grow: 1;
    }
   
    .social-media-icons ul {
        gap: 10px;
        
    }

    #hero-image {
        background-color: var(--green);
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero-image-700.png); */
        background-image: url(images/hero-image-700.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        filter:brightness(90%);
        height: 50vh;
        
    
    }
    #hero-image h1{
        display: block;
        margin: 10px auto;
        font-size: 22px;
        font-weight: 900;
        color:#34A958 ;
            
        }
    
    .hero-content{
        display: inline-block;
        vertical-align: center;
        padding: 20px 20px;
        text-align: center;
        margin-top: 120px;
       margin-left: 190px;
       
    }
    .hero-content button{
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 900;
        border-radius: 5px;
        margin-top: 0;
     }
     .row-1 h1{
        padding: 30px 30px;
     }
     .figures.flex-row{
        margin: 50px auto;
     }
     .un-active{
        display: flex;
        flex-direction: column;
     }

     p.un-active{
        color: #024a12;
        font: 16px;
     }

     .row-2 div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
       
     }
     .row-2 h1{
        text-align: center;
        margin: 20px;
        font-size: 50px;
        color: var(--green);

     }
     .row-2 p{
        margin-top: 40px;
        width: 500px;
        line-height: 2em;
        margin-bottom: 50px;
        
     }
     .row-2 h2{
        display: none;
     }
     .row-2 ul{
        display: none;
     }
     .row-3 img,
     .row-4 img{
        width: 360px;
        height: 250px;
        
     }  
     .flex-center-max-width{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
       
        
     }
     .flex-center-max-width p {
        width: 360px;
     }

     .row-3 h1,
     .row-4 h1{
        color:#024A12;
        font-size: 50px;      
     }
    
     .projects h1{
      margin-bottom: 0;
     }
     .projects button{
        font-size: 16px;;
     }
     .projects{
        background-image: url(images/hero-image-700.png);
        filter:brightness(90%);
    }
    .projects h1,
    .projects button, 
    .row-5 li {
        color:#34A958;
        
    }
    .projects button,
    .row-5 li {

        font-size: 17px;
        color:#34A958;
    }
    .projects div:first-child{
        align-items: flex-start;
        margin-left: 140px;
    }
    .row-6{
        background-image: url(images/Group-245.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }
    .row-6 p{
        color: white;
        font-size: 16px;
    }
    .row-6.contact h1{
        color: white;
        font-size: 27px;
        font-weight: 700;
    }
    .row-6 button{
        font-size: 25px;
    }
    .row-7.sub{
        display: inline-block;
        width: 100vw;
        margin: 0;
    }
    .row-7.sub input{
        width: 20%;
        margin-top: 20px;
    }
    .row-7.sub h5{
        font-size: 16px;
    }
    footer.max-width {
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #utilities{
        margin-left: 20px;
       
        flex:0.75;
        align-self: center;
    }
   
    #socials{
        align-self: right;
        flex-grow: 0;
        margin-left: auto;
        gap: 10px;
      
    }
    .tesmo{
        max-height: 10em;
        overflow:auto;
        margin-left:auto;
        margin-right:auto;
    }
    .tesmo p{
        display: block;
        margin-left: auto;
        margin-right:auto;
 
 }
}